﻿<p>Hello {@@username@@},</p>
<p>Greetings from Merricart!!!</p>
<p>Your account has been created as part of <strong>Merricart Admin </strong>portal. Your temporary password is&nbsp;<strong style="color: #0000ff;">{@@tempPassword@@}&nbsp;</strong><em>(case sensitive)</em></p>
<p>&nbsp;</p>
<p><a href="{@@appClientUrl@@}/login">Please click here to reset the password</a>.</p>
<p>---</p>
<p>Best Regards,</p>
<p>Merricart Admin Team.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: justify;"><span style="text-decoration: underline; background-color: #ccffff;"><em>Note: This is an auto generated email, please do not reply</em></span></p>